FEEDER_TZ=Country/Locality

# docker run --rm -it --entrypoint /scripts/estimate_rtlsdr_ppm.sh --device /dev/bus/usb ghcr.io/sdr-enthusiasts/docker-readsb-protobuf:latest
#
# Running rtl_test -p for 30 minutes
#
# Found 1 device(s):
#   0:  Realtek, RTL2838UHIDIR, SN: 33333333
#
# Using device 0: Generic RTL2832U OEM
# Found Rafael Micro R820T tuner
# Supported gain values (29): 0.0 0.9 1.4 2.7 3.7 7.7 8.7 12.5 14.4 15.7 16.6 19.7 20.7 22.9 25.4 28.0 29.7 32.8 33.8 36.4 37.2 38.6 40.2 42.1 43.4 43.9 44.5 48.0 49.6 
# [R82XX] PLL not locked!
# Sampling at 2048000 S/s.
# Reporting PPM error measurement every 10 seconds...
# Press ^C after a few minutes.
# Reading samples in async mode...
#
# Samples per million lost (minimum): 0
#
# Results:
#
# PPM setting of: 13, Score of: 1
# PPM setting of: 2, Score of: 1
# PPM setting of: 3, Score of: 1
# PPM setting of: 7, Score of: 1
# PPM setting of: 0, Score of: 2
# PPM setting of: 1, Score of: 2
# PPM setting of: -1, Score of: 3
# PPM setting of: -4, Score of: 3
# PPM setting of: -2, Score of: 12
# PPM setting of: -3, Score of: 153
#
# Estimated optimum PPM setting: -3
ADSB_SDR_SERIAL=33333333
ADSB_SDR_PPM=-3

FEEDER_LAT=xx.xxxxxx
FEEDER_LONG=xx.xxxxxx
FEEDER_ALT_M=xx
FEEDER_ALT_FT=xxx
FEEDER_NAME=my_feeder_name
FEEDER_UUID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
FEEDER_HEYWHATSTHAT_ID=xxxxxxxxxxxx
FEEDER_HEYWHATSTHAT_ALTS=3000,10000,30000,40000

ADSBFI_UUID=
ADSBLOL_UUID=
AIRPLANESLIVE_UUID=
PLANESPOTTERS_UUID=
THEAIRTRAFFIC_UUID=
AVDELPHI_UUID=
FLYITALYADSB_UUID=

FR24_SHARING_KEY=

PIAWARE_FEEDER_ID=
